<%# add navigation links to this file %>
<!-- <li ><a href="#" style="color:white">How It Works</a> -->

<!-- <li><%= link_to 'How It Works', '#', :id => "how-it-works"%></li>
</li> -->
<li>
<%= content_tag("a","How It Works", :style=> "color:white", id: 'how-it-works') %>
</li>

<li>
<%= content_tag("a","Contact", :style=> "color:white", id: 'contact-info') %>
</li>
